/* frontend/index.css */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;600;700&display=swap');

:root {
    --black: #131b3c;
    --purple: #7000ec;
    --border-radius: 4px;
}

html,
body,
#root,
#app {
    height: 100%;
    margin: 15px;
    margin-bottom: 0px;
    font-family: 'Oxygen', sans-serif;
}

a {
    text-decoration: none !important;
}

#app {
    display: flex;
    flex-direction: column;
    color: #141c3a;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header a:hover {
    color: #ff0;
}

#error-wrapper {
    text-align: center;
}

.image-container {
    width: 100%;
    height: 72px;
    overflow: hidden;
}

input.quantity {
    width: 35px;
    margin-left: auto;
    border-radius: var(--border-radius);
    border: 1px solid var(--black);
}

footer {
    text-align: center;
}

@media (max-width: 600px) {

    .loadingGIF {
        width: 100vw;
    }

  }