/* frontend/index.css */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;600;700&display=swap');

:root {
    --black: #131b3c;
    --purple: #7000ec;
    --border-radius: 4px;
}

html,
body,
#root,
#app {
    height: 100%;
    margin: 15px;
    margin-bottom: 0px;
    font-family: 'Oxygen', sans-serif;
}

a {
    text-decoration: none !important;
}

#app {
    display: flex;
    flex-direction: column;
    color: #141c3a;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header a:hover {
    color: #ff0;
}

#error-wrapper {
    text-align: center;
}

.image-container {
    width: 100%;
    height: 72px;
    overflow: hidden;
}

#cart-items {
    padding: 0;
}

#cart-items p {
    display: inline;
    margin: 0;
}

#cart-items li {
    list-style: none;
    font-weight: 700;
    color: var(--black);
    display: flex;
    margin-bottom: 8px;
}

input.quantity {
    width: 35px;
    margin-left: auto;
    border-radius: var(--border-radius);
    border: 1px solid var(--black);
}


#cart-container {
    margin: 0 -45px;
    padding: 12px 45px;
    padding-bottom: 24px;
    background: #f2f2f2;
    position: sticky;
    bottom: 0;
}

#cart-container>hr {
    margin: 0 -45px;
    margin-bottom: 12px;
}

.total {
    display: flex;
    margin: 0;
    font-size: 1.8rem;
}

.total-value {
    color: darkblue;
    margin-left: auto;
}

footer {
    text-align: center;
}

@media (max-width: 600px) {

    .loadingGIF {
        width: 100vw;
    }

  }