
.product-name {
    font-size: 1.2rem;
    color: #333333;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: darkblue;
}

.add-to-cart-button {
    background: none;
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: var(--border-radius);
    padding: 4px 8px;
    font-weight: 600;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.add-to-cart-button:hover {
    color: white;
    background: var(--black);
    transform: translateY(-3px);
}

.add-to-cart-button:active {
    transform: translateY(3px); 
}

